@using sys.Models
@model IQueryable<sys.Models.ProductList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("新增產品", "Create")
    @Html.ActionLink("新增類別", "Index", "Category")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.ProductCategory.PCName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            商品圖片
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory.PCName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ProductImg.Where(x=>x.Pid==item.Id).FirstOrDefault().Pimg.Count())*@
                @Html.DisplayFor(modelItem => item.ProductImg.FirstOrDefault().Pimg)
                @*string img = item.ProductImg.Where(x=>x.Pid==item.Id).FirstOrDefault().Pimg.ToString();*@
                @*<img src="/Img/product/@img" />*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
